*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.success{
    color: green
}


.songs h1{
    text-align: center;
    background-color: black;
    color: tomato
}

.songs .songs-box{
    background-color: yellowgreen;
    display: flex;
    border: 2px solid black;
    width: 20%;
    justify-content: space-between;
    color: blueviolet;
}

.songs-details{
    
}